{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="x_panel tile ">
                <div class="x_title">
                    <h2>Déclarations</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <table class="table table-striped">
                        <tr>
                            <th>Periode</th>
                            <th class="text-right">Taxes état</th>
                            <th class="text-right">C.A. à déclarer</th>
                            <th class="text-right">Taxes sur ce C.A.</th>
                            <th class="text-right">Coûts</th>
                            <th class="text-right">Benefice</th>
                        </tr>
                        {% for dates,taxes_to_apply in factures %}
                            {% if taxes_to_apply|length > 0 %}
                                {% for taxe,facture in taxes_to_apply  %}
                                    {% set facture_amount = facture['sum'] %}
                                    {% set theTaxe = taxes[dates][taxe] %}
                                    {% set theBuyPrice = theTaxe['cost'] %}
                                    {% set taxes_amount = theTaxe['sum'] %}
                                    {% set taxes_percent = facture['taxe'] %}
                                        <tr>
                                            {% if loop.index == 1 %}
                                                <td style="vertical-align: middle" rowspan="{{ taxes_to_apply|length }}">{{ dates }}</td>
                                            {% endif %}
                                            <td class="text-right">{{ taxes_percent }}%</td>
                                            <td class="text-right">{{ facture_amount is not null ? facture_amount|number_format(2,',',' ')~"€" : 'à venir' }} </td>
                                            <td class="text-right">{{ taxes_amount is not null ? taxes_amount|round(0,'ceil')|number_format(2,',',' ')~"€" : 'à venir' }}</td>
                                            <td class="text-right">{{ theBuyPrice|round(0,'ceil')|number_format(2,',',' ')~"€" }}</td>
                                            <td class="text-right"><span title="">{{ facture_amount is not null ? (facture_amount-(taxes_amount|round(0,'ceil'))-theBuyPrice)|number_format(2,',',' ')~"€" : 'à venir' }}</td>
                                        </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>{{ dates }} <small></small></td>
                                    <td class="text-right">N.C. </td>
                                    <td class="text-right">N.C.</td>
                                    <td class="text-right">N.C.</td>
                                    <td class="text-right">N.C.</td>
                                    <td class="text-right">N.C.</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>

                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="x_panel tile ">
                <div class="x_title">
                    <h2>Net-entreprise</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content text-center">
                    {% if service_settings.get('net_entreprise_siret',null) is not null %}
                    <form action="https://portail.net-entreprises.fr/auth/pass" method="post" name="form__connect" id="form__connect"
                          novalidate="">
                        <input name="j_siret" type="hidden" value="{{ service_settings.get('net_entreprise_siret') }}">
                        <input name="j_nom" type="hidden" value="{{ service_settings.get('net_entreprise_nom') }}">
                        <input name="j_prenom" type="hidden" value="{{ service_settings.get('net_entreprise_prenom') }}">
                        <input name="j_password" type="hidden" value="{{ service_settings.get('net_entreprise_password') }}">

                        <input type="submit" class="btn btn-success" value="Connexion net-entreprise"/>
                    </form><br/>
                    {% endif %}
                    <a href="https://www.net-entreprises.fr/">Accès manuel</a>

                </div>
            </div>
        </div>
    </div>

{% endblock %}